@font-face{
    font-family: Myfont;
    src:url('./fonts/PixelifySans-Bold.ttf') format('truetype');
}

body {
    font-family: Myfont;
    background: linear-gradient(to bottom, 
        #E0F7FA 10%,  
        #B0DAF1 30%,  
        #89CFF0 60%,  
        #6CB4EE 90%  
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #318CE7;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: Myfont;
}

.icon {
    width: 30px;  
    height: 30px;
    vertical-align: middle; 
    margin: 0 10px; 
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

#start-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#start-btn img {
    margin-top: 10px;
    width: 75px;
    height: auto;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); /* Light shadow */
}